<mat-toolbar class="navbar">
    <div class="navbar-left">
        <button mat-icon-button  (click)="onToggleSideNavMenu()">
            <span class="material-icons">menu</span>
        </button>
        <span class="navbar-left-logo"></span>
        <span class="navbar-left-title" routerLink='/'>My Body Training</span>
    </div>

    <div class="navbar-right">
        <div class="navbar-right-profile" (click)="onViewProfile()"  *ngIf="isConnected" #tooltip="matTooltip"
        matTooltip="My profile">
            <span class="navbar-right-profile-letters">
                AM
            </span>
        </div>
        <div class="navbar-right-logout" (click)="onLogout()" *ngIf="isConnected" #tooltip="matTooltip"
        matTooltip="Logout">
            <span class="material-icons">
                logout
            </span>
        </div>
    </div>
</mat-toolbar>