<div class="profile">
    <mat-card>
        <mat-card-header class="profile-header">
            <div mat-card-avatar class="profile-header-image"></div>
            <button mat-stroked-button class="profile-header-btn">Changer ma photo de profil</button>
            <mat-card-title>Anthony Mero</mat-card-title>
        </mat-card-header>

        <mat-card-content class="profile-content">
            <form class="profile-content-form">
                <mat-form-field appearance="outline">
                    <mat-label>Surnom</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>event</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Outline form field</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </form>

        </mat-card-content>
    </mat-card>
</div>