<div class="dashboard">
    <!-- Last training session -->
    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Ma dernière séance</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <button mat-button>Nouvelle séance<mat-icon aria-hidden="false" aria-label="add training session icon">add</mat-icon></button>
            <button mat-button routerLink="/trainings">Voir mes séances<mat-icon aria-hidden="false" aria-label="see training sessions icon">arrow_forward_ios</mat-icon></button>

        </mat-card-content>

    </mat-card>

    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Exercices</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <button mat-button (click)="onAddExercice()">Créer un exercice<mat-icon aria-hidden="false" aria-label="add training session icon">add</mat-icon></button>
            <button mat-button routerLink="/exercices">Voir les exercices<mat-icon aria-hidden="false" aria-label="see training sessions icon">arrow_forward_ios</mat-icon></button>

        </mat-card-content>

    </mat-card>

    <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Mon physique</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <button mat-button (click)="onUpdateMyPhysic()">Mettre à jour<mat-icon aria-hidden="false" aria-label="add training session icon">add</mat-icon></button>
            <button mat-button routerLink="/physic">Voir mon évolution<mat-icon aria-hidden="false" aria-label="see training sessions icon">arrow_forward_ios</mat-icon></button>

        </mat-card-content>

    </mat-card>

</div>
