<p>anatomy works!</p>

<div class="map" id="map" #map>

  <div class="map__image">

    <svg version="1.1" id="overlay" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="500px" height="500px"
      viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
      <rect id="overlay03" x="43" y="129" fill="#754C24" width="407" height="348"  matTooltip="top"/>
      <rect id="overlay02" x="43" y="57" fill="#A67C52" width="407" height="70"  matTooltip="center"/>
      <rect id="overlay01" x="43" y="23" fill="#C69C6D" width="407" height="31"  matTooltip="bottom"/>
    </svg>

  </div>



  <div class="map__form">

    <form>

    </form>

  </div>

</div>
